/www/landing/nbproject/
/www/admin/.tmp/
/www/admin/config/local.js
/www/admin/node_modules/
/www/admin/nbproject/
/www/mobile/.tmp/
/www/mobile/config/local.js
/www/mobile/node_modules/
/www/mobile/nbproject/