<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    
    <title></title>
    
    <!--STYLES-->
    <link rel="stylesheet" href="styles/splash.css">
    <link rel="stylesheet" href="styles/ionic.css">
    <link rel="stylesheet" href="styles/importer.css">
    <!--STYLES END-->
    
  </head>
  <body data-ng-app="starter"> 
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="templates/jst.js"></script>
    <!--TEMPLATES END-->
    <script src="cordova.js"></script>
    <!--SCRIPTS-->
    <script src="js/dependencies/underscore.js"></script>
    <script src="js/dependencies/_.escape.js"></script>
    <script src="js/dependencies/sprintf.js"></script>
    <script src="js/dependencies/ionic.bundle.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/services/services.js"></script>
    <script src="js/angular/controllers/controllers.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
