<!DOCTYPE html>
<html>
  <head>
    <title><%= dic('Title') %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--STYLES-->
    
    <!--STYLES END-->
  </head>
  <body class="skin-0"> 
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    
    <!--SCRIPTS END-->
  </body>
</html>
