<!DOCTYPE html>
<html>
  <head>
    <title><%= dic('Title') %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--STYLES-->
    <link rel="stylesheet" href="styles/ionic.css">
    <link rel="stylesheet" href="styles/importer.css">
    <!--STYLES END-->
  </head>
  <body class=""> 
    <%- body %>
    <!--TEMPLATES-->
    <script type="text/javascript" src="templates/jst.js"></script>
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="js/dependencies/underscore.js"></script>
    <script src="js/dependencies/_.escape.js"></script>
    <script src="js/dependencies/sprintf.js"></script>
    <script src="js/dependencies/ionic.bundle.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/services/services.js"></script>
    <script src="js/angular/controllers/controllers.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
