<ion-view data-ng-controller="deal" title="Сделка">
    <ion-content overflow-scroll="true" padding="true" class="has-header background">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="images/s40DaHVcTVGha2oIV7MV_mainnails.jpg">
                <h2>Александр
                    <br>Родионович
                    <br>Бородач</h2>
                <p>Рейтинг: ®®®®®</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 5px;"></div>
        <ion-list>
            <ion-item>Готов оказать услугу за 500 руб</ion-item>
        </ion-list>
        <div class="button-bar">
            <button class="button button-balanced button-block ">Принять</button>
            <button class="button button-assertive button-block ">Отклонить</button>
        </div>
    </ion-content>
</ion-view>