<div data-ng-controller="details">  
  <ion-view view-title="{{dic('Детали')}}">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header background">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="images/s40DaHVcTVGha2oIV7MV_mainnails.jpg">
                <h2>Перетащить шкаф</h2>
                <p>Помогите перетащить
                    <br>шкаф, Большой, весит
                    <br>около 30 кг.</p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 0px;"></div>
        <div class="button-bar"></div>
        <ion-list>
            <ion-list></ion-list>
            <ion-item class="item-divider">Цена: 500 руб</ion-item>
            <ion-item class="item-divider">До конца публикации: 1:42 мин</ion-item>
            <ion-item class="item-divider">Адрес: Мытищи, Олимпийский
                <br>пр-кт 13/2</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 3px;"></div>
        <ion-list></ion-list>
        <form class="list">
            <ion-item class="item-divider">Нужен: Мужчина</ion-item>
            <ion-item class="item-divider">Возраст: Не важно</ion-item>
            <div class="button-bar">
                <button class="button button-balanced button-block button-small">Откликнуться по
                    <br>текущей цене:
                    <br>450 руб</button>
                <button class="button button-assertive button-block button-small">Предложить свою
                    <br>цену:
                    <br>400 руб</button>
            </div>
        </form>
    </ion-content>
  </ion-view>
</div>  