<div data-ng-controller="favorites">
  <ion-view view-title="{{dic('Избранное')}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header background" data-ng-hide="loading.visible">
        <ion-list can-swipe="true">
          <div  data-ng-repeat="d in data" data-ng-click="details(d)">
            <ion-item class="item-thumbnail-left">
              <img data-ng-src="{{d.image}}">
              <h2>{{d.title}}</h2>
              <p>{{d.desc}}</p>
              <p>{{dic('Плачу')}} {{d.cost}} {{dic('руб.')}}</p>
            </ion-item>
            <div class="spacer" style="width: 100%; height: 8px;"></div>
          </div>
        </ion-list>
    </ion-content>
  </ion-view>
</div>  