<ion-view data-ng-controller="history" title="История">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header background">
        <form class="list"></form>
        <button class="button button-dark button-block  icon-left ion-android-radio-button-on">Вынести рояль 500 руб</button>
        <button class="button button-balanced button-block  icon-left ion-ios-plus-outline">Сварить борщ 300 руб</button>
        <button class="button button-assertive button-block  icon-left ion-ios-minus-outline">Отвезти документы 500 руб</button>
        <button class="button button-assertive button-block  icon-left ion-ios-minus-outline">Установить Windows 600 руб</button>
        <button class="button button-balanced button-block  icon-left ion-ios-plus-outline">Занести рояль 1000 руб</button>
    </ion-content>
</ion-view>