<div data-ng-controller="profile"> 
  
  <script id="profile-image.html" type="text/ng-template">
    <div class="modal image-modal transparent" data-ng-click="hideImage()">
      <ion-pane class="transparent">
        <img data-ng-src="{{user.image}}" class="fullscreen-image"/>
      </ion-pane>
    </div>
  </script>
  
  <ion-view view-title="{{dic('Профиль')}}">
    
    <ion-content padding="true" overflow-scroll="false"
                 class="has-header">
      
      <ion-refresher on-refresh="refresh()"></ion-refresher>
      
      <ion-list>
        
        <div data-ng-hide="user">
          <h1>Регистрация</h1>
        </div>
        
        <div data-ng-show="user">
          
          <div class="animated fadeIn">
            <ion-item class="item-avatar-left">
                <img src="{{user.image}}" fallback-src="images/profile.png" data-ng-click="showImage()">
                <h2>{{user.name}}</h2>
                <p>{{user.surname}}</p>
                <p>{{user.patronymic}}</p>
            </ion-item>

            <ion-item class="item-divider">Возраст: 39 лет</ion-item>
            <ion-item class="item-divider">{{dic('Тел')}}: {{user.phone}}</ion-item>
            <ion-item class="item-divider">{{dic('E-mail')}}: {{user.email}}</ion-item>

            <div class="button-bar">
              <button class="button button-stable button-block ">Сохранить</button>
              <button class="button button-stable button-block ">Изменить</button>
            </div>
          </div>
        </div>  
        
      </ion-list>
      
    </ion-content>
    
  </ion-view>
</div>