<ion-view data-ng-controller="profile" title="Профиль">
    <ion-content overflow-scroll="true" padding="true" class="has-header background">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="images/s40DaHVcTVGha2oIV7MV_mainnails.jpg">
                <h2>Александр
                    <br>Родионович
                    <br>Бородач</h2>
                <p></p>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 6px;"></div>
        <ion-list>
            <ion-item>Пол: Мужчина</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 5px;"></div>
        <ion-list>
            <ion-item>Возраст: 35 лет</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 5px;"></div>
        <ion-list>
            <ion-item>Тел: +7 (985) 566-09-88</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 4px;"></div>
        <ion-list>
            <ion-item>E-mail: sashka@borodach.ru</ion-item>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 94px;"></div>
        <button class="button button-positive button-block ">Сохранить</button>
    </ion-content>
</ion-view>