<div data-ng-controller="profile"> 
  <ion-view view-title="{{dic('Профиль')}}">
    <ion-content overflow-scroll="true" padding="true" class="has-header background" data-ng-hide="loading.visible">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="images/s40DaHVcTVGha2oIV7MV_mainnails.jpg">
                <h2>Александр
                    <br>Родионович
                    <br>Бородач</h2>
                <p></p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Возраст: 39 лет</ion-item>
            <ion-item>Тел: +7 (987) 654-32-10</ion-item>
            <ion-item>E-mail: sashka@borodach.me</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 103px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block ">Сохранить</button>
            <button class="button button-stable button-block ">Изменить</button>
        </div>
    </ion-content>
  </ion-view>
</div>