<ion-view data-ng-controller="registration" title="Регистрация">
    <ion-content overflow-scroll="true" padding="true" class="has-header background">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Имя:</span>
                <input type="text" placeholder="">
            </label>
            <div class="button-bar">
                <button class="button button-stable button-block  icon-left ion-male">Мужчина</button>
                <button class="button button-stable button-block  icon-right ion-female">Женщина</button>
            </div>
            <label class="item item-input">
                <span class="input-label">Возраст:</span>
                <input type="number" placeholder="">
            </label>
            <button class="button button-stable button-block ">Отправить СМС на номер
                <br>+7 (985) 685 06 58</button>
            <label class="item item-input">
                <span class="input-label">Ввести код подтверждения:</span>
                <input type="number" placeholder="">
            </label>
            <button class="button button-stable button-block ">Зарегистрироваться</button>
        </form>
    </ion-content>
</ion-view>