<ion-view data-ng-controller="stats" title="Статистика">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header background">
        <div style="text-align:center;">
            <img src="images/s40DaHVcTVGha2oIV7MV_mainnails.jpg" width="100%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-divider">Сейчас в вашем радиусе:
                <br>- размещено 50 объявлений на
                <br>общую сумму 25 000 рублей.
                <br>- cегодня было закрыто 15
                <br>объявлений на сумму 7500
                <br>рублей.</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <div class="button-bar">
            <button class="button button-stable button-block  icon-left ion-chevron-left">Найти</button>
            <button class="button button-stable button-block  icon-right ion-chevron-right">Разместить</button>
        </div>
    </ion-content>
</ion-view>