<div data-ng-controller="boot">

  <div class="spinner" data-ng-show="spinner.visible">
    <div></div>
  </div>

  <div class="view" data-ng-hide="spinner.visible" data-ng-cloak="">

    <!--ion-nav-view></ion-nav-view-->
    
    <button data-ng-click="test()">Hello</button>
      
  </div>

</div>