<div data-ng-controller="boot">

  <div class="splash" data-ng-hide="visible">
    <div></div>
  </div>

  <div class="controller" data-ng-show="visible" data-ng-cloak="">

    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>

    <ion-nav-view></ion-nav-view>

  </div>

</div>